/* 1. LAYOUT */
/* line 1, ../sass/_layout.scss */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

/* 2. FIL D'ACTU */
/* line 1, ../sass/_filActu.scss */
.containerArticle {
  margin-top: 40px;
}
