{% extends 'base.html.twig' %}

{% block nav %}
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{{ path('my_holly_index') }}">Accueil</a></li>
        <li><a href="{{ path('my_holly_filActu') }}">Fil d'actu</a></li>
        <li><a href="{{ path('article_new') }}">Ajouter un article</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ path('fos_user_registration_register') }}">Connexion</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">My Holly Cie.</h5>
                    <p class="grey-text text-lighten-4">Espace à remplit ici si besoin.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 My Holly
                <a class="grey-text text-lighten-4 right" href="#!">En savoir plus</a>
            </div>
        </div>
    </footer>
{% endblock %}